<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="css/indicadores.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    

    <style>
        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 200px 0;
            height: 500px;
            flex-direction: column;
        }

        canvas {
            max-width: 100%;
            height: auto;
        }

        .chart-title {
            margin-bottom: 20px;
            font-weight: bold;
        }

        .chart-description {
            font-style: italic;
        }
    </style>

</head>

<body>

    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">
                    <img src="Imagens/Logo.png" alt="Logo">
                </a>
            </div>
            <nav class="menu-desktop">
                <ul>
                    <li><a href="Pagina Inicial.html">Início</a></li>
                    <li><a href="Pagina Inicial.html#sobre-nos">Sobre</a></li>

                    <li><a href="Historico.html">Historico</a></li>
                </ul>
            </nav>
            <div class="btn-contato">
                <a href="Pagina Inicial.html">
                    <button>Voltar</button>
                </a>
            </div>
            <div class="btn-abrir-menu" id="btn-menu">
                <i class="bi bi-list"></i>
            </div>
            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Historico</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
            </div>
            <div class="overlay-menu" id="overlay-menu"></div>
        </div>
    </header>


    <p id="texto"></p>


    <div class="chart-container">
        <h2 class="chart-title">Número de usuarios cadastrados mensalmente</h2>
        <canvas id="grafico1"></canvas>
        <p class="chart-description">É possível notar quantos Clientes já foram cadastrados em Dezembro.</p>
    </div>

    <div class="chart-container">
        <h2 class="chart-title">Número de ingressos cadastrados mensalmente</h2>
        <canvas id="grafico2"></canvas>
        <p class="chart-description">É possível notar quantos ingressos já foram cadastrados em Dezembro.</p>
    </div>



    <script>

        
        const endpoint = "https://tickettrade.azurewebsites.net/user/quantidadeUsuarios"
const endpoint2 = "https://tickettrade.azurewebsites.net/ingresso/quantidadeIngressos"

var raw = "";

var requestOptions = {
    method: 'GET',
    
    redirect: 'follow'
};
    fetch(endpoint, requestOptions)
        .then(res => res.json())
        .then(res => {
            valoresX[11] = res.totalUsuarios
            grafico1.update()
        })
        .catch(erro => {
            console.log("ERRO:" + erro)
        }) 

        fetch(endpoint2, requestOptions)
        .then(res => res.json())
        .then(res => {
            valoresY[11] = res.totalIngressos

            grafico2.update()
        })
        .catch(erro => {
            console.log("ERRO:" + erro)
        })

      

        const ctx = document.getElementById('grafico1');

        let labelsX = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
        let valoresX = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];


        let grafico1 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelsX,
                datasets: [{
                    label: 'Número total de Clientes',
                    data: valoresX,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const cty = document.getElementById('grafico2');

        let labelsY = ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"];
        let valoresY = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];


          let grafico2 = new Chart(cty, {
        type: 'bar',
        data: {
            labels: labelsY,
            datasets: [{
                label: 'Número total de ingressos cadastrados',
                data: valoresY,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: 'white' // Define a cor do texto da legenda para branco
                    }
                }
            }
        }
    });

       


    </script>
    
    <footer>
        <div class="interface">
            <div class="line-footer">
                <div class="flex">
                    <div class="company-info">
                        <h4>TickeTrade</h4>
                        <p>Seu parceiro confiável para compra de ingressos.</p>
                    </div>
                    <div class="contact-info">
                        <h4>Conecte-se Conosco</h4>
                        <!-- Adicione os ícones e links para as redes sociais da TickeTrade -->
                        <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div><!--line-footer-->

            <div class="line-footer borda">
                <p><i class="bi bi-envelope-fill"></i> <a href="mailto:contato@ticke-trade.com">contato@ticke-trade.com</a></p>
            </div><!--line-footer-->
        </div><!--interface-->
    </footer>
</body>
</html>