<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- FIM GOOGLE FONTES -->
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- FIM BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="css/processo4e6.css">



    <title>Tiket Trade</title>
</head>

<body>

    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">
                    <img src="Imagens/Logo.png">
                </a>
            </div><!--logo-->

            <nav class="menu-desktop">
                <ul>
                    <li><a href="Pagina Inicial.html">Início</a></li>
          
                    <li><a href="Pagina Inicial.html#sobre-nos">Sobre</a></li>
                    <li><a href="Historico.html">Historico</a></li>
                </ul>
            </nav>

            <div class="btn-contato">
                <a href="login.html">
                    <button onclick="sairentrar(event)" id="logsai">
                        Login
                    </button>
                </a>
            </div><!--btn-contato-->

            <div class="btn-abrir-menu" id="btn-menu">
                <i class="bi bi-list"></i>
            </div>

            <div class="menu-mobile" id="menu-mobile">
                <div class="btn-fechar">
                    <i class="bi bi-x-lg"></i>
                </div>

                <nav>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Projetos</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>

            </div><!--menu-mobile-->
            <div class="overlay-menu" id="overlay-menu"></div>
        </div><!--interface-->
    </header>

    <main>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">
                    <div class="txt-topo-site">
                        <h1>Facilitando a compra e venda de ingressos<span>.</span></h1>
                        <p>Fique a vontade para comprar e vender os seus ingressos de forma rápida e segura.</p>

                        <div class="btn-contato">
                            <a href="">
                                <button>Duvidas?</button>
                            </a>
                        </div>
                    </div><!--txt-topo-site-->

                    <div class="img-topo-site">
                        <img src="images/pessoa.png" alt="">
                    </div><!--img-topo-site-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--topo-do-site-->

        <section class="especiliadades">
            <div class="interface">
                <h2 class="titulo">NOSSAS <span>FUNÇÕES.</span></h2>
                <div class="flex">
                    <a href="CadastroIngresso.html" class="hrefdiv">
                        <div class="especialidades-box">
                            <i class="bi bi-database-exclamation"></i>
                            <h3>Venda de ingresso</h3>
                            <p></p>
                        </div><!--especialidades-box-->
                    </a>

                    <a href="BuscarIngresso.html" class="hrefdiv">
                        <div class="especialidades-box">
                            <i class="bi bi-cart"></i>
                            <h3>Compra de ingressos</h3>
                            <p></p>
                        </div><!--especialidades-box-->
                    </a>


                   <!--bi-chat-dots-->
                   <a href="denuncia.html" class="hrefdiv">
                    <div class="especialidades-box">
                        <i class="bi bi-bandaid"></i>
                        <h3>Denuncia de usuários</h3>
                        <p></p>
                    </div><!--especialidades-box-->
                </a>
                </div><!--flex-->
            </div><!--interface-->
        </section><!--especiliadades-->

        <div class="popup" id="popup">
            <div class="popup-content">
                <h2>Nova Notificação</h2>
                <p class="notificacao"></p>
                <button id="close-button" onclick="closePopup()"> X </button>

            </div>
        </div>
        <div class="overlay" id="overlay"></div>

        <!-- Ícone de imagem no canto inferior direito -->
        <img src="Imagens/image.png" alt="Ícone" id="icone" class="icone" onclick="clicou()">

        <!-- Div retangular que será mostrada ao clicar no ícone -->
        <div id="retangulo" class="retangulo" id="retangulo">
            <button id="sair_form" onclick="saiu()">x</button>
            <form action="https://formsubmit.co/ajax/nickolas@tigercodes.com.br" method="POST" data-form>


                <h3>Suporte:</h3>
                <p>Alguma dúvida? por favor fale com o suport!!!</p>
                <textarea name="mensagem" id="mensagem" required></textarea>
                <button type="submit" data-button>Enviar</button>
            </form>
        </div>

        <section id="sobre-nos" class="sobre">
            <div class="interface">
                <div class="flex">
                    <div class="img-sobre">
                        <img src="images/foto.png" alt="">
                    </div><!--img-sobre-->

                    <div class="txt-sobre">
                        <h2>SOBRE <span>NÓS.</span></h2>
                        <p>O projeto TicketTrade é um software desenvolvido para a disciplina 
                            “Trabalho Interdisciplinar: Aplicações para processos de negócios”, 
                            referente ao 2º período do curso de Engenharia de Software da Pontifícia 
                            Universidade Católica de Minas Gerais. O objetivo do nosso projeto é 
                            criar um software que facilite a compra e revenda de ingressos para eventos de entretenimento.</p>

                    </div><!--txt-sobre-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--sobre-->


        <footer>
            <div class="interface">
                <div class="line-footer">
                    <div class="flex">
                        <div class="company-info">
                            <h4>TickeTrade</h4>
                            <p>Seu parceiro confiável para compra de ingressos.</p>
                        </div>
                        <div class="contact-info">
                            <h4>Conecte-se Conosco</h4>
                            <!-- Adicione os ícones e links para as redes sociais da TickeTrade -->
                            <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div><!--line-footer-->
    
                <div class="line-footer borda">
                    <p><i class="bi bi-envelope-fill"></i> <a href="mailto:contato@ticke-trade.com">contato@ticke-trade.com</a></p>
                </div><!--line-footer-->
            </div><!--interface-->
        </footer>

            <script src="Script/processo4e6.js"></script>

</body>

</html>